[user]
  name = Marco Fugaro
  email = marco.fugaro@gmail.com

[core]
  # set global gitignore
  excludesfile = ~/.gitignore
  # set standard editor
  editor = vim
  # setup diff-so-fancy
  pager = diff-so-fancy | less --tabs=4 -RFX
  # make git ignore the case of the file
  ignorecase = true
[alias]
  # better git log
  superlog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

  # undo your last commit and stage the changes
  undo = reset --soft HEAD^

  # show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v

  # make git git work
  git = !exec git

  # print the current branch
  current-branch = rev-parse --abbrev-ref HEAD

  # undo your last push
  # TODO test this, maybe HEAD must be a branch name
  undo-push = push -f origin HEAD^:HEAD

  # delete branches that have been merged to master, can also be done with `git fetch --prune`
  purge = !git branch --merged master --format='%(refname:lstrip=2)' | grep -v 'master' | xargs -n 1 git branch -d

  # stash also untracked files
  stashall = stash --include-untracked

[push]
  # always push only current branch
  default = current

  # make `git push` push relevant annotated tags when pushing branches out
  followTags = true

[pull]
  # automatically rebase instead of merging when you pull
  rebase = true

[fetch]
  # automatically delete local branches that have been deleted in remote
  prune = true

[help]
  # autocorrect the mispelled commands
  autocorrect = -1

[rerere]
  # enable git rerere for auto conflict resolution
  enabled = 1
  autoupdate = 1

[web]
  # set chrome as default browser
  browser = google-chrome
