[user]
	name = Marco Fugaro
	email = marco.fugaro@gmail.com

[core]
	# set global gitignore
	excludesfile = ~/.gitignore
	# set standard editor
	editor = vim

[alias]
	# better git log
	superlog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	# delete all local branches thet have been merged except master and dev
	purge = !"git branch --merged | grep -Ev '\\*|master|dev' | xargs -n 1 git branch -d"
	# undo your last commit and stage the changes
	undo = reset --soft HEAD^

# always push only current branch
[push]
	default = current

# autocorrect the mispelled commands
[help]
	autocorrect = -1

# enable git rerere for auto conflict resolution
[rerere]
	enabled = 1
	autoupdate = 1

# set chrome as default browser
[web]
	browser = google-chrome
